{% extends 'base.html' %}

{% block content %}
        <h1 class="my-4">Онлайн-магазин одягу</h1>
        <section class = "container card-group">
                {% for item in items %}
                        <div class="card m-2 rounded" style="min-width: 18rem; max-width: 18erm;">
                        <img src="{{ url_for('static', filename='img/'+ item[4]) }}" alt="image" >
                        <div class="card-body">
                          <h5 class="card-title">{{item[2]}}</h5>
                          <p class="card-text">{{item[5]}} грн</p>
                          <a href="{{ url_for('item', item_id=item[0]) }}" class="btn btn-outline-dark stretched-link">Buy</a>
                        </div>
                      </div>
                  {% endfor %}
        </section>
{% endblock content %}